
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  border: 2px solid green;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* .answerImg{
  background-image: url("./assets/images/ans.png");
  background-repeat: no-repeat;
  color: black;
  height: 43px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 7px;

} */


/* .notansImg{
  background-image: url("./assets/images/notans.png");
  background-repeat: no-repeat;
  color: black;
  height: 43px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 8px;

} */

/* .notVisitImg {
  background-image: url("./assets/images/notvisit.png");
  background-repeat: no-repeat;
  color: black;
  height: 43px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
} */


.headerdiv{
  background-color: #327ecf;
}

.answerImg{
  background: url('./assets/images/ques-sprite.png');
  background-position:-5px -3px!important;
  height: 43px;
  width: 50px;
}

.notansImg{
  background: url("./assets/images/ques-sprite.png");
  background-position:-57px -3px!important;
  height: 43px;
  width: 50px;
} 

.notVisitImg {
  background: url("./assets/images/ques-sprite.png");
  background-position:-157px -4px;
  height: 43px;
  width: 50px;
} 

.smanswerImg{
  background: url('./assets/images/ques-sprite.png');
  background-position:-6px -54px !important;
  height: 30px;
  width: 30px;
}

.smnotansImg{
  background: url('./assets/images/ques-sprite.png');
  background-position:-41px -54px!important;
  height: 30px;
  width: 30px;
}

.smnotVisitImg{
  background: url('./assets/images/ques-sprite.png');
  background-position:-105px -54px!important;
  height: 30px;
  width: 30px;
}

.smmarkedImg{
  background: url('./assets/images/ques-sprite.png');
  background-position:-74px -54px!important;
  height: 30px;
  width: 30px;
}

.smansmarkedImg{
  background: url('./assets/images/ques-sprite.png');
  background-position:-171px -54px!important;
  height: 30px;
  width: 30px;
}

.font{
  font-family: "Noto Serif", serif;
}


.iconQues {
  background: url("./assets/images/questions-sprite.png") no-repeat;
  color: #fff;
  cursor: pointer;
  font-weight: 400;
  height: 43px;
  line-height: 42px;
  text-align: center;
  width: 50px;
  display: inline-block;
}
.text-green {
  color: green;
}

.font-weight-bold {
  font-weight: bold;
}

.staticheader{
  display: flex;
  align-items: center;
}

/* From Uiverse.io by Tiagoadag */ 
/* .hoverstyle1{
  width: 190px;
  height: 254px;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all .3s;
 } */
 
 /* .hoverstyle2{
  width: 190px;
  height: 254px;
  background-color: #1a1a1a;
  border-radius:;
  transition: all .2s;
 } */
 
 /* .hoverstyle2:hover {
  border-radius: 20px;
 }
 
 .hoverstyle2:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
  transform: scale(0.98);
  border-radius: 20px;

 } */

 .hoverstyle{
  transition: 0.4s ease-in-out;
}
.hoverstyle:hover{
  border: 3px solid #0bce46;
  transform: translateY(-10px)scale(1.03);
  box-shadow: 0 0 50px #04b42a;
}