@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom styles for slick arrows */
.slick-prev, .slick-next {
    position: absolute;   /* Make them absolutely positioned */
    top: 50%;             /* Vertically center the arrows */
    transform: translateY(-50%); /* Adjust to center them */
    color: black !important;  /* Set the arrow color */
    z-index: 1000;         /* Ensure they appear above other content */
    cursor: pointer;       /* Show a pointer cursor on hover */
    background-color: white; /* Optional: Add a background for visibility */
    padding: 10px;          /* Make the arrows larger and clickable */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;            /* Set width of arrow button */
    height: 20%;           /* Set height of arrow button */
    transition: background-color 0.3s ease; /* Smooth hover transition */
    border-radius: 5px;
  }
  
  /* Make the arrows appear when hovering */
  .slick-prev:hover, .slick-next:hover {
    background-color: white; /* Slight dark background on hover */
    color: #FF6347;  /* Change color on hover to give it a visible effect */
  }
  
  /* Position the left arrow */
  .slick-prev {
    left: 2px;             /* Position the left arrow on the left side */
  }
  
  /* Position the right arrow */
  .slick-next {
    right: 2px;            /* Position the right arrow on the right side */
  }
  
  
/* Customize scrollbar */
::-webkit-scrollbar {
  width: 16px; /* Increased width of the scrollbar */
  height: 16px; /* Increased height for horizontal scrolling */
}

/* Customize the track (background) of the scrollbar */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Light gray background */
  border-radius: 50px; /* Make it more circular-like, like a bubble */
  box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.2), inset 0 0 15px rgba(255, 255, 255, 0.7); /* Create a bubble effect */
}

/* Customize the thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Gray color for the thumb */
  border-radius: 10px; /* Rounded corners */
  border: 4px solid #f1f1f1; /* Border around the thumb */
}

/* Customize the thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #666; /* Darker gray when hovered */
}

/* Customize the corner (where horizontal and vertical scrollbars meet) */
::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}
  
 /* table td {
  border: 2px solid grey;
 }
  
 */

 table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

table th, table td {
  border: 2px solid grey;
  padding: 10px;
  text-align: center;
}

table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

table tr:nth-child(even) {
  background-color: #eaeceb;
}

table tr:hover {
  background-color: #c6f7d2;
}

